body {	
	background-color: white;
	color: black;
	margin: auto;
	margin-bottom: 3em;
	width: fit-content;
    font-family: monospace;
	font-size: 16px;
}

.column {
	display:flex;
	flex-direction: column;
}

.row {
	display:flex;
	flex-direction: row;
}
  
  /* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

.stat-container {
	padding-left: 2em;
}
.stat-label {
	font-weight: bold;
}
.stat-body {
	padding-left: 1em;
}

.stat-valuelabel {
	padding-right: 2em;
}

.stat-progressbar {
	background-color: rgb(230, 230, 230);
	min-width: 150px;
	height: 1em;
}

.stat-progressbar-progress {
	background-color: grey;
	width: 50%;
	height: 1em;
}

.character-container {
	border: solid #32a1ce;
	margin-left:5px;
	padding-left:5px;
}

.relationship-label {
	padding-left:1em;
}

.character-emoji {
	font-size: 3em;
}

.character-header {
	text-align:center
}

.character-bio {
	min-width:100%;
	max-width:min-content;
}

.character-trait {
	padding-left: 2em;
}

.character-traits-good {
	color: green;
}

.character-traits-bad {
	color: red;
}

.bio-container {
	display:none;
}

#status-container {
	min-width: 100%
}

#action-container {
	min-width: 50%;
	max-height: 200px;
	overflow-y: auto;
}

#conversation-container {
	min-width: 50%;
	max-height: 200px;
	overflow-y: auto;
}

.action {
	border: solid #32a1ce;
	margin-left:5px;
	margin-top:2px;
	padding-left:5px;
}

.action-person {
	font-weight:bold;
	min-width: 5em;
}
.action-person {
	font-weight:bold;
	padding-right: 5px;
}

.action-name {
	color: black;
	font-weight: bold;
	background-color: rgb(230, 230, 230);
	padding-right: 5px;
	padding-left: 5px;
	min-width: 6em;
	text-align: center;

}

.action-description {
	min-width: 100%;
	padding-right: 3em;
	padding-left: 5px;
}






.conversation {
	border: solid #32a1ce;
	margin-left:5px;
	margin-top:2px;
	padding-left:5px;
	max-width: 50%;

}

.conversation-person {
	font-weight:bold;
	min-width: 5em;
}
.conversation-words {
	padding-right: 5px;
	font-style:italic;
}

.conversation-announce {
	font-weight:bold;
	padding-right: 5px;
}